# Load in NumPy (remember to pip install numpy first)

In [2]:
import numpy as np

# The Basics

In [3]:
a = np.array([1,2,3], dtype="int32")
print(a)

[1 2 3]

In [4]:
b = np.array([[9.0,8.0,7.0],[6.0,5.0,4.0]])
print(b)

[[9. 8. 7.]
 [6. 5. 4.]]

In [5]:
# Get Dimension
a.ndim

1

In [6]:
# Get Shape
b.shape

(2, 3)

In [7]:
# Get Type
a.dtype

dtype('int32')

In [8]:
# Get Size
a.itemsize
# b.itemsize # float size 가 int 보다 큼

4

In [9]:
# Get total size
a.nbytes

12

# Accessing/Changing specific elements, rows, columns, etc

In [10]:
a = np.array([[1,2,3,4,5,6,7],[8,9,10,11,12,13,14]])
print(a)

[[ 1  2  3  4  5  6  7]
 [ 8  9 10 11 12 13 14]]

In [11]:
# Get a specific element [row, column]
a[1, 5]
a[1, -1]

14

In [12]:
# Get a specific row
a[0, :]

array([1, 2, 3, 4, 5, 6, 7])

In [13]:
# Get a specific column
a[:, 2]

array([ 3, 10])

In [14]:
# Getting a little more fancy [startindex:endindex:stepsize]
a[0, 1:6:2]

array([2, 4, 6])

In [15]:
a[1,5] = 20
print(a)

a[:,2] = [1, 2]
print(a)

[[ 1  2  3  4  5  6  7]
 [ 8  9 10 11 12 20 14]]
[[ 1  2  1  4  5  6  7]
 [ 8  9  2 11 12 20 14]]

*3-d example

In [16]:
b = np.array([[[1,2],[3,4]],[[5,6],[7,8]]])
print(b)

[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

In [17]:
# Get specific element
b[0,1,1]
b[:,1,:]

array([[3, 4],
       [7, 8]])

In [18]:
# replace
b[:,1,:] = [[9,9],[8,8]]
b

array([[[1, 2],
        [9, 9]],

       [[5, 6],
        [8, 8]]])

# Initializing Different Types of Arrays

In [19]:
# All 0s matrix
np.zeros((2, 3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [20]:
# All 1s matix
np.ones((4, 2, 2), dtype="int32")

array([[[1, 1],
        [1, 1]],

       [[1, 1],
        [1, 1]],

       [[1, 1],
        [1, 1]],

       [[1, 1],
        [1, 1]]])

In [21]:
# Any other number
np.full((2,2), 99)

array([[99, 99],
       [99, 99]])

In [23]:
# Any other number (full_like)
np.full(a.shape, 4)

array([[4, 4, 4, 4, 4, 4, 4],
       [4, 4, 4, 4, 4, 4, 4]])

In [25]:
# Random decimal numbers
np.random.rand(4,2) # tuple 형태 아닌 바로 값 입력
np.random.random_sample(a.shape)

array([[0.49535426, 0.90179101, 0.12115554, 0.47918913, 0.05138405,
        0.77299942, 0.97124299],
       [0.38588556, 0.56555532, 0.93542447, 0.37403627, 0.41850409,
        0.33776174, 0.05189357]])

In [35]:
# Random Integer values
np.random.randint(7, size=(3,3)) # 0-6 사이의 난수

array([[5, 3, 1],
       [2, 2, 5],
       [3, 0, 4]])

In [36]:
# The identity matrix
np.identity(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [40]:
arr = np.array([[1,2,3]])
r1 = np.repeat(arr, 3, axis=0) # axis : 0, 세로 / 1, 가로
print(r1)

[[1 2 3]
 [1 2 3]
 [1 2 3]]

In [45]:
# quiz
a = np.ones((5,5))
a[1:4,1:4] = 0
a[2,2] = 9
a

array([[1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 1.],
       [1., 0., 9., 0., 1.],
       [1., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1.]])

In [47]:
# answer
output = np.ones((5,5))

z = np.zeros((3,3))
z[1,1] = 9

output[1:-1,1:-1] = z
output

array([[1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 1.],
       [1., 0., 9., 0., 1.],
       [1., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1.]])

### Be careful when copying arrays!!!

In [49]:
a = np.array([1,2,3])
b = a
b[0] = 100 # b 뿐만 아니라 a 의 값도 변경
print(b)
print(a)

[100   2   3]
[100   2   3]

In [50]:
a = np.array([1,2,3])
b = a.copy() # copy 함수 이용 시 a 의 값 바뀌지 않음
b[0] = 100

a

array([1, 2, 3])

# Mathematics

In [61]:
a = np.array([1,2,3,4])
print(a)

1

In [62]:
a += 2
a

array([3, 4, 5, 6])

In [63]:
a - 2

array([1, 2, 3, 4])

In [64]:
a / 2

array([1.5, 2. , 2.5, 3. ])

In [66]:
print(a)
print(a / 2)

[3 4 5 6]
[1.5 2.  2.5 3. ]

In [67]:
a = np.array([1,2,3,4])
b = np.array([1,0,1,0])
a + b

array([2, 2, 4, 4])

In [68]:
a ** 2

array([ 1,  4,  9, 16], dtype=int32)

In [69]:
# Take the sin
np.sin(a)

array([ 0.84147098,  0.90929743,  0.14112001, -0.7568025 ])

# Linear Algebra

In [70]:
a = np.ones((2,3))
b = np.full((3,2), 2)

np.matmul(a,b) # 행렬의 곱

array([[6., 6.],
       [6., 6.]])

In [71]:
c = np.identity(3)
np.linalg.det(c) # 행렬식(determinant)

1.0

In [72]:
# determinant
# Trace
# Singular Vector Decomposition
# Eigenvalues
# Matrix Norm
# Inverse Matrix
# Etc..

# Statistics

In [84]:
stats = np.array([[1,2,3],[4,5,6]])
stats

array([[1, 2, 3],
       [4, 5, 6]])

In [85]:
np.min(stats, axis=1)
# 0 : 각 col의 min / 1 : 각 row 의 min

array([1, 4])

In [86]:
np.max(stats)

6

In [89]:
np.sum(stats, axis=1)

array([ 6, 15])

# Reorganizing Arrays

In [91]:
before = np.array([[1,2,3,4],[5,6,7,8]])

# after = before.reshape((8,1))
after = before.reshape((2,2,2))
print(after)

[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

In [93]:
# Vertically stacking vectors
v1 = np.array([1,2,3,4])
v2 = np.array([5,6,7,8])

# np.vstack([v1,v2])
np.vstack([v1,v2,v1])

array([[1, 2, 3, 4],
       [5, 6, 7, 8],
       [1, 2, 3, 4]])

In [94]:
# Horizontal stack
h1 = np.ones((2,4))
h2 = np.zeros((2,2))

np.hstack([h1,h2])

array([[1., 1., 1., 1., 0., 0.],
       [1., 1., 1., 1., 0., 0.]])

# Miscellaneous

### Load Data from File

In [97]:
filedata = np.genfromtxt("data.txt", delimiter=",") # delimiter : seperator
filedata = filedata.astype("int32")
filedata

array([[  1,  13,  21,  11, 196,  75,   4,   3,  34,   6,   7,   8,   0,
          1,   2,   3,   4,   5],
       [  3,  42,  12,  33, 766,  75,   4,  55,   6,   4,   3,   4,   5,
          6,   7,   0,  11,  12],
       [  1,  22,  33,  11, 999,  11,   2,   1,  78,   0,   1,   2,   9,
          8,   7,   1,  76,   8]])

### Boolean Masking and Advanced Indexing

In [99]:
# filedata > 50
filedata[filedata > 50]

array([196,  75, 766,  75,  55, 999,  78,  76])

In [101]:
## You can index with a list in NumPy
a = np.array([1,2,3,4,5,6,7,8,9])
a[[1,2,8]] # index를 list로 입력

array([2, 3, 9])

In [102]:
# np.any(filedata > 50, axis=0) # col 중에 50 이상 data 하나라도 있으면 True
np.all(filedata > 50, axis = 0)

array([False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False])

In [104]:
((filedata > 50) & (filedata < 100))
(~(filedata > 50) & (filedata < 100))

array([[ True,  True,  True,  True, False, False,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True, False, False,  True, False,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True, False,  True,  True,  True, False,
         True,  True,  True,  True,  True,  True,  True, False,  True]])

In [105]:
np.array([i for i in range(1, 31)])

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30])

In [117]:
# quiz

a = np.array([[col + (5 * (row - 1)) for col in range(1, 6)] for row in range(1, 7)])
# a[2:4,0:2]
# a[[0,1,2,3],[1,2,3,4]]
a[[0,4,5],3:]

array([[ 4,  5],
       [24, 25],
       [29, 30]])